@import "./variables.css";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--light);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark)
}

h1,h2,h3,h4 {
  color: var(--smooth);
}

p, a, span, label, input, button {
  color: var(--light)
}

button, input, select {
  appearance: none;
  background: transparent;
  color: var(--primary);
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

input, select {
  border: solid 3px var(--primary-bd);
  width: 100%;
  padding: 0 min(3rem, 3vw);
  border-radius: 6px;
}

.light {
  color: var(--light)
}

.primary {
  color: var(--primary)
}

.error {
  color: var(--error)
}

.txt-center {
  text-align: center;
}

.wallet-container {
  max-width: min(431px, 80vw);
  margin: 0 auto;
  margin-top: min(4rem, 5vh);
  background: #141414;
  max-height: min(400px, 48vh);
  overflow-y: auto;
}